*, ::after, ::before {
    box-sizing: border-box;
}

html {
  margin-top:0!important;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  color: #1A1A1A;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

h1, .h1 {
  font-size: 2.5em;
}

h2, .h2 {
  font-size: 2.25em;
}

h3, .h3 {
  font-size: 2em;
}

h4, .h4 {
  font-size: 1.75em;
}

h5, .h5 {
  font-size: 1.5em;
}

h6, .h6 {
  font-size: 1.25em;
}

h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
  font-weight: 300;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.column {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.column-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.column-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.column-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.column-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.row:after {
  display: block;
  clear: both;
  content: "";
}

/* --------- HEADER --------- */

.site-header {
  -webkit-box-shadow: 0 10px 6px -6px #aaa;
  -moz-box-shadow: 0 10px 6px -6px #aaa;
  box-shadow: 0 10px 6px -6px #aaa;
  background: #ffffff;
  flex: 0 1 auto;
  -ms-flex: 0 1 auto;
}
.site-header .header-logo {
  padding:20px;
  height:140px;
}

.alt-header {
  position: relative;
}

.alt-header .nav-buttons {
  position: absolute;
  top: 25px;
  left: 35px;
}

.alt-header .nav-buttons button {
  background: none;
}

.alt-header .nav-buttons button img,
.alt-header .nav-buttons a img {
  width: 54px;
  height: auto;
}

.homepage_header, .project_header {
  background: #EEEEEE;
  flex: 0 1 auto;
  -ms-flex: 0 1 auto;
}

.homepage_header h1 {
  color: #E41C24;
  padding: 0.5em 0;
  margin: 0;
}

.project_header h1 {
  color: #1a1a1a;
  padding: 0.5em 0;
  margin: 0;
}

/* --------- TILES --------- */

.project-tiles .column a {
  height: 100%;
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
}

.project-tiles .column a:hover .project-bg:before,
.project-tiles .column a:focus .project-bg:before,
.project-tiles .column a:active .project-bg:before {
  background: rgba(47,83,143,.8);
}

.project-tiles .column a:hover .project-bg,
.project-tiles .column a:focus .project-bg,
.project-tiles .column a:active .project-bg {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.project-tiles .project-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  position: relative;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.project-tiles .project-bg:before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  background: rgba(0,0,0,.5);
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.project-tiles .project-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  text-align: center;
}

.project-tiles .project-info .line {
  height: 1px;
  width: 100%;
  background: #ffffff;
  margin: 2em 0;
}

.project-tiles .project-info h2,
.project-tiles .project-info h3 {
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.project-menu .row {
  height: 50%;
}

/* --------- BUILDING --------- */

.building-list {
  padding-top:120px;
  padding-left:40px;
}

.building-list li {
  padding:1.25em;
  list-style: none;
  border-bottom: 1px solid #919191;
  display: inline-block;
}

.building-list li:last-child {
  border-bottom: none;
}

.building-list > li > a {
  color:#333333;
  text-decoration: none;
  outline: none;
  font-size: 2em;
  font-weight: 400;
}

.building-list li a:hover,
.building-list li a:focus,
.building-list li a:active {
  color:#2d508f;
}

.building-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
}

.buildings, .building-image {
  position: relative;
}

.buildings a {
  width: 16.666667%;
  height: auto;
  display: block;
  position: absolute;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.buildings a:nth-child(1) {
  top: 50%;
  transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  -webkit-transform: translate(0,-50%);
  -moz-transform: translate(0,-50%);
}

.buildings a:nth-child(2) {
  top: 50%;
  left: 18%;
  transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  -webkit-transform: translate(0,-50%);
  -moz-transform: translate(0,-50%);
}

.buildings a:nth-child(3) {
  top: 50%;
  left: 36%;
  transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  -webkit-transform: translate(0,-50%);
  -moz-transform: translate(0,-50%);
}

.buildings a:nth-child(4) {
  top: 50%;
  left: 54%;
  transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  -webkit-transform: translate(0,-50%);
  -moz-transform: translate(0,-50%);
}

.buildings a:nth-child(5) {
  top: 50%;
  left: 72%;
  transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  -webkit-transform: translate(0,-50%);
  -moz-transform: translate(0,-50%);
}


/* --------- LEVEL --------- */

.level-list{
  list-style: none;
  padding: 2em 4em 0 3em;
}

.level-list li {
  border-bottom: 1px solid #919191;
  padding-top: 10px;
}

.level-list li a:hover h6,
.level-list li a:focus h6,
.level-list li a:active h6 {
  color:#2d508f;
}

.diagram {
  position: relative;
}

.diagram-level {
  list-style-type: none;
  width: 320px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
}

.diagram-level li {
  border: 1px solid #4D4D4D;
  text-align: center;
  border-bottom: 3px solid #4D4D4D;
  position: relative;
}

.diagram-level li a {
  display: block;
  color: #000;
  padding-top:2px;
  text-decoration: none;
  min-height: 40px;
}

.diagram-level li a:hover,
.diagram-level li a:focus,
.diagram-level li a:active {
  background-color: #2F568F;
}

.diagram-level li a:hover h6,
.diagram-level li a:focus h6,
.diagram-level li a:active h6 {
  color: #2F568F;
}

.diagram-level li a .line {
  border-bottom: 1px solid #333333;
  height: 1px;
  width: 80px;
  position: absolute;
  left: 350px;
  top: 20px;
}

.diagram-level li a h6 {
  position: absolute;
  left: 450px;
  display: block;
  white-space: nowrap;
  padding-top: 0;
}


/****************** Helpers ******************/

.text-center {
  text-align: center;
}

.d-flex {
  display: -ms-flexbox!important;
  display: flex!important;
}

/* Horizontal align */
.justify-content-center {
  -ms-flex-pack: center!important;
  justify-content: center!important;
}

.justify-content-between {
  -ms-flex-pack: justify!important;
  justify-content: space-between!important;
}

.ml-auto, .mx-auto {
  margin-left: auto!important;
}
.mr-auto, .mx-auto {
  margin-right: auto!important;
}


/* Vertical align */
.align-items-center {
  -ms-flex-align: center!important;
  align-items: center!important;
}

.mt-auto, .my-auto {
  margin-top: auto!important;
}
.mb-auto, .my-auto {
  margin-bottom: auto!important;
}

.flex-fill {
  -ms-flex: 1 1 auto!important;
  flex: 1 1 auto!important;
}

.h-100 {
  height: 100%;
}